<header class="header-cabecalho">
    <div class="header-cabecalho-left-content">
        <img class="header-cabecalho-logo-riot" src="/assets/images/header-logo-riot.svg">
        <div class="header-cabecalho-linha-vertical"></div>
        <img class="header-cabecalho-logo-valorant" src="/assets/images/header-logo-valorant.svg">
    </div>
    
    <nav class="header-cabecalho-menu">
        <a class="header-cabecalho-menu-item" href="#section-jogueagora">Jogue agora</a>
        <a class="header-cabecalho-menu-item" href="#section-noticias">Notícias</a>
        <a class="header-cabecalho-menu-item" href="#section-sobreojogo">Sobre o jogo</a>
        <a class="header-cabecalho-menu-item" href="#section-agentes">Agentes</a>
    </nav>
    <div class="header-cabecalho-right">
        <div class="header-cabecalho-right-acessibilidadeBar">
            <button class="header-botao-acessibilidade"><img class="header-botao-acessibilidade-img" src="assets/images/header-botao-acessibilidadeA-.svg"></button>
            <button class="header-botao-acessibilidade"><img class="header-botao-acessibilidade-img" src="assets/images/header-botao-acessibilidadeA.svg"></button>
            <button class="header-botao-acessibilidade"><img class="header-botao-acessibilidade-img" src="assets/images/header-botao-acessibilidadeA+.svg"></button>
        </div>
        <div class="header-cabecalho-right-logout" onclick="logout()">
        Sair<img class="header-cabecalho-right-logout-img" src="/assets/images/header-logout.svg"></div>
    </div>
    <script src="\scripts\header.js"></script>
</header>

