<div class="conheca-main">
    <section class="conheca-section" id="conheca-left-content">
        <p class="conheca-chamada-musicvideo">VALORANT<br>Champions 2022 - <br>NEW MUSIC VIDEO </p>
        <iframe class="conheca-musicvideo"width="560" height="315" src="https://www.youtube.com/embed/DqgK4llE1cw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <section class="conheca-section" id="conheca-right-content">
        <h1 class="conheca-titulo">CONHEÇA O<br>VALORANT</h1>
        <p class="conheca-texto-desafie"><strong>DESAFIE SEUS LIMITES</strong></p>
        <p class="conheca-texto">Viva uma experiência unica com os<br>cenários mais incriveis. Pense de forma<br>estratégica e encare seus adversários nos<br>modos <strong>Competitivo</strong> e <strong>Sem Ranque</strong>, além<br>da <strong>Disputa da Spike</strong> e do <strong>Mata-Mata</strong>.<br>Não esqueça de planejar bem, você<br>contará com <strong>uma vida por rodada</strong>, contando o total de<br><strong>13 rodadas</strong><br>
        <br>Conheça também a história dos seus<br>campeõs e agentes com uma série de<br>animação original disponivel no <strong>Youtube!</strong></p>

        <a href="https://playvalorant.com/pt-br/download/" target="_blank" rel="noopener noreferrer" class="conheca-jogueAgoraBttn">JOGUE AGORA</a>

    </section>
</div>
