<main class="noticias-main">
    <section class="noticias-left-content">
        <div class="noticias-content">
            <p class="noticias-text">NOTÍCIAS</p>
            <img class="noticias-chamada-texto" src="/assets/images/noticias-loudxvalorant.svg">
            <p class="noticias-conteudo-texto"><strong>VALORANT Champions 2022: <span class="texto-verde">LOUD</span><br> campeã mundial<span class="texto-verde"> final da Upper</span></strong></p> 
        </div>
        <div class="noticias-noise-lineup">
            <p class="noticias-followthenoise"><span>#FOLLOWTHENOISE</span></p><br>
            <p class="noticias-lineup">Matias <span>“saadhak”</span> Delipetro,  Erick <span>"aspas"</span><br>Santos, Gustavo <span>"sacy"</span> Rossi,  Bryan <span>"pancada"</span><br> Luna, Felipe <span>"Less"</span> Basso.</p>
        </div>
    </section>
    <section class="noticias-right-content">
        <img class="noticias-time-loud-image" src="/assets/images/noticias-LOUD team img.svg">
    </section>
</main>

