@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

*{
    margin:0%;
    padding: 0%;
    width:100%;
    height:100%;
}

.agente-main{
    /* background */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FF4655;

}


.agente{
    display: flex;
    background-image: url("/assets/images/img-elementos-agentes.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    
}

.agente-paragrafo{
    width: 100%;
    height: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.agente-left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    
}

.agente-titulo-image{
    width: 72%;
    height: 80px;
    display: grid;
    margin-top: 9%;
    padding-right: 80px;
}


.agente-subtitulo{
    width: auto;
    height: auto;
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 1000;
    display: grid;
    margin-left: 15%;
    color: #ECE8E1;

}

.span-subtitulo{
    font-family: 'Montserrat';
    font-weight: bold;
    color: #ECE8E1;
}

.agente-texto{
    width: 150%;
    height: auto;
    font-size: 1.100rem;
    font-family: 'Montserrat';
    font-weight: 100%;
    display: grid;
    margin-left: 15%;
    margin-top: 5%;
    color: #ECE8E1;
}

.span-texto{
    font-family: 'Montserrat';
    font-weight: 110%;
    color: #ECE8E1;
}
    
.agente-botao{
    /* Button */

    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 45%;
    height: 10%;
    font-size: 0.875rem;
    font-family: "Montserrat";
    font-weight: bold;
    color: #141723;
    background: #ECE8E1;    
    margin-left: 15%;
    margin-top: 5%;
    cursor: pointer;

}

.agente-botao:hover { 
    background: #141723;
    color: white;
}

.agente-right-images{
    display: flex;
    width: 65%;
    margin-right: 14%;
}

.agente-background{
    
    width: 250%;
    height: 110%;
    overflow: hidden;
}
