<div class="agente-main">

    <div class="agente">
        <div class="agente-left-content-">
            <img class="agente-titulo-image" src="/assets/images/agente-titulo-imagem.svg" alt="titulo AGENTES">
            <div class="agente-paragrafo">
                <p class="agente-subtitulo">A CRIATIVIDADE É SUA MELHOR ARMA.</p>
                <p class="agente-texto">Mais do que armas e munição, VALORANT<br> inclui agentes com habilidades adaptativas, <br> 
                rápidas e letais, que criam oportunidades <br> para você exibir sua mecânica de tiro. 
                Cada <br> Agente é único, assim como os momentos
                de <br> destaque de cada partida!</p>
            </div>
            <a class="agente-botao" href="https://playvalorant.com/pt-br/agents/">VER TODOS OS AGENTES</a>
        </div>
        
        <div class="agente-right-images">
            <img class="agente-background" src="/assets/images/agente-img-personagens.svg" alt="personagens">
        </div>
    </div>

</div>
