<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <div class="login-main">
        <div class="login-left-content">
            <h1 class="login-texto"><strong>A CRIATIVIDADE<br>É SUA MELHOR<br>ARMA.</strong></h1>
        </div>
        <section class="login-right-content">
            <img class="login-valorant-img" src="/assets\images\login-valorant.svg">
            <app-form-login></app-form-login>
        </section>
        </div>
</body>
</html>
