@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.cadastro-main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 115%;
    background-image: url("/assets/images/cadastro-background.png");
    background-size: 104%;
    background-repeat: no-repeat;
    background-position: center;
}
.cadastro-left-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 550px;
    padding-left: 16%;
    padding-right: 2.5%;
}
.cadastro-h1{
    font-family: 'Montserrat';
    font-weight: bolder;
    color: white;
    font-size: 50px;
    width: 305px;
    height: 116px;
    padding-bottom: 90px;
}
.cadastro-right-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 366px;
    height: 592px;
    max-width: 366px;
    max-height: 592px;
    min-width: 366px;
    min-height: 592px;
    gap: 5%;
}
.cadastro-right-content-paragrafo{
    font-family: 'Montserrat';
    color: black;
    font-weight: 700;
    font-size: 20px;
    height: 80px;
    width: 300px;
}
.cadastro-div-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
    background-color: white;
    width: 298px;
    height: 511px;
    max-width: 300px;
    max-height: 511px;
    padding: 32px;
}
.cadastro-valorantImg{
    height: 53px;
    width: 366px;
}
.cadastro-form{
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 300px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: black;
    font-size: 50%;
    padding-top: 5px;
}
.cadastro-input{
    font-family: 'Montserrat';
    font-weight: 400;
    color: black;
    font-size: 14px;
    border: 1.9px solid #BDBDBD;
    box-shadow: #333333;
    border-radius: 2px;
    width: 268px;
    height: 42px;
    padding-inline: 5%;
    padding-left: 2%;
    margin-top: 4px;
    margin-bottom: 4px;
    outline: none;
}
.cadastro-ancora-login{
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bolder;
    color: black;
    font-size: 70%;
    cursor: pointer;
}
.cadastro-button{
    width: 296px;
    height: 44px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4655;
    font-family: 'Montserrat';
    font-weight: 550;
    font-size: 12px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.cadastro-button:hover{
    background:#ff0015;
}
span#cadastro-confirmar-senha{
    font-family: 'Montserrat';
    font-weight: 550;
    color: #C72C2C;
    font-size: 10px;
    width: 200px;
    height: 10px;
}


body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;
}

body::-webkit-scrollbar-track {
    background: #CCCCCC;
}
body::-webkit-scrollbar-track-piece {
    background: #CCCCCC;
}
body::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px;
}
body::-webkit-scrollbar-corner {
    background: #FF0000;
    border-radius: 5px;
}
.cadastro-label{
    font-family: 'Montserrat';
    font-weight: 550;
    color: black;
    font-size: 8px;
    width: 90px;
    height: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.cadastro-valorant-logo{
    width: 4%;
    height: auto;
    padding-top: 46%;
    padding-left: 1.5%;
}