<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie uma conta</title>
</head>
<body>
    <div class="cadastro-main">
        <img class="cadastro-valorant-logo" src="/assets/images/cadastro-valorant-logo.svg" alt="">
        <div class="cadastro-left-content">
            <h1 class="cadastro-h1"><strong>CRIAR UMA<br>CONTA</strong></h1> 
        </div>

        <section class="cadastro-right-content">
            <img class="cadastro-valorantImg" src="\assets/images\home-valorant.svg">
            <app-form></app-form> 
        </section>
    </div>
</body>
</html>