@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.conheca-section{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
}
.conheca-main{
    background-image: url("/assets/images/conheça-elementos.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #ECE8E1;
    z-index: -1;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    width: auto;
}

.conheca-chamada-musicvideo{
    width: auto;
    height: auto;
    color: #FF4655;
    text-align: start;
    font-size: 0.5rem;
    font-weight: bold;

    padding-right: 27.5%;
    padding-bottom: 10%;
    margin-bottom: 5.5%;
}
.conheca-musicvideo{
    width: 504px;
    height: 311px;
    padding-left: 23%;
}

.conheca-jogueAgoraBttn{
    width: 12.875rem;
    height: 2.188rem;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4655;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 0.7rem;
    cursor: pointer;
    margin-bottom: 8%;
}
.conheca-jogueAgoraBttn:hover{
    background:#ff0015;
}
#conheca-left-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;

}
#conheca-right-content{
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 6%;
}

.conheca-texto{
    color: #666666;
    width: auto;
    height: auto;
    text-align: start;
    font-size: 0.8rem;
}
.conheca-texto-desafie{
    width: 400px;
    height: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 0.938rem
}
.conheca-titulo{
    width: auto;
    height: auto;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 120%;
}