<div class= "app-acessibilitybar">
    <div class="header-cabecalho-right-acessibilidadeBar">
        <button class="header-botao-acessibilidade"><img class="header-botao-acessibilidade-img" src="assets/images/header-botao-acessibilidadeA-.svg" (click)="setFontSize('a-')"></button>
        <button class="header-botao-acessibilidade"><img class="header-botao-acessibilidade-img" src="assets/images/header-botao-acessibilidadeA.svg" (click)="setFontSize('a')"></button>
        <button class="header-botao-acessibilidade"><img class="header-botao-acessibilidade-img" src="assets/images/header-botao-acessibilidadeA+.svg"(click)="setFontSize('a+')"></button>
    </div>
</div>

