<div class="home-main">

    <div class="home">
        <div class="home-left-content">
            <p class="home-texto">Um jogo de tiro tático 5x5 com personagens originais</p>
            <img class="home-titulo-image" src="\assets/images\home-valorant.svg" alt="valorant-texto">      
            <a href="https://playvalorant.com/pt-br/download/" class="home-botao">JOGUE GRÁTIS</a>          
        </div>
        <div class="home-right-images">
            <img class="home-background" src="\assets/images\home-img_background.svg" alt="conjunto de imagens">
        </div>    
    </div>
</div>